*.iml
.gradle
/local.properties
/.idea/misc.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/debug/res/values/google_maps_api.xml

docs/deliverable3/~\$tana_Deliverable_3_URN\.docx

app/src/debug/res/values/google_maps_api.xml

docs/deliverable4/~\$Getana_Deliverable_4_ProductBacklog\.xlsx

docs/deliverable4/Getana_Deliverable_4_FuterImplementationPlanAndRemainingTasks\.docx
